*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#FFF9F4;

font-family:'Poppins',sans-serif;

color:#4D372F;

overflow-x:hidden;

}

#loader{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

font-size:18px;

}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:30px;

background:linear-gradient(
180deg,
#FFF9F4,
#FDECEC);

}

.hero h2{

font-weight:300;

letter-spacing:3px;

margin-bottom:20px;

}

.hero h1{

font-size:75px;

font-family:'Great Vibes',cursive;

color:#C8A24C;

margin-bottom:25px;

}

.hero p{

font-size:18px;

margin-bottom:35px;

}

button{

padding:16px 40px;

border:none;

border-radius:40px;

background:#C8A24C;

color:white;

cursor:pointer;

font-size:17px;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}
